.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
}
.navItem{
  
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.navWords{
  color: white;
}
.navItem:hover{
  background-color: red;
}